# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=disha@8249
DB_NAME=student_engagement_db

# Logging Configuration
LOG_LEVEL=INFO

# Application Configuration
STREAMLIT_PORT=8501
STREAMLIT_ADDRESS=localhost
